<!DOCTYPE html>
<html>
<head>
  <title>Gekibun</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=100%; user-scalable=no"></head>
<body>

<%= yield %>

</body>
</html>
